.hide {
  display: none;
}

.note {
  margin: auto;
  width: 700px;
  height: 30vw;
  padding: 10px;
}

.note textarea {
  height: 24vw;
  width: 700px;
  resize: none;
  border: none;
}

button {
  color: #20bf6b !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 8px;
  border: 4px solid #20bf6b !important;
  border-radius: 6px;
  display: inline-block;
}

button:hover {
  color: #494949 !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
}
